* {
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT";
  background-image: linear-gradient(rgb(1, 67, 1), rgb(161, 235, 161));
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: goldenrod;
  align-content: center;
  font-family: "Gill Sans", "Gill Sans MT";
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 25px;
  border: solid none 1px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(173, 230, 186, 0.302);
}

#start-game {
  color: #016f32;
  width: 240px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

#start-game:hover {
  box-shadow: 0 0 5px wheat;
}

h4 {
  font-size: 30px;
}

.buttons {
  display: flex;
}

#new-card {
  padding-top: 5px;
  margin-right: 10px;
  display: inline-block;
  color: #016f32;
  width: 300px;
  background: goldenrod;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

#new-card:hover {
  box-shadow: 0 0 5px wheat;
}

#cash-out {
  padding-top: 5px;
  margin-right: 10px;
  display: inline-block;
  color: #016f32;
  width: 300px;
  background: goldenrod;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

#cash-out:hover {
  box-shadow: 0 0 5px wheat;
}

#reset {
  padding-top: 5px;
  color: #ffffff80;
  width: 300px;
  background: rgba(218, 63, 32, 0.673);
  margin-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  font-size: 30px;
  transition: all 0.2s ease;
}

#reset:hover {
  box-shadow: 0 0 5px wheat;
}

button:active {
  transform: translateY(2px);
  background-color: #457d39;
}
#message-el {
  text-align: center;
  font-weight: 600;
  display: flex;
  flex: auto;
}

#card-img {
  width: 15%;
  border: 1px;
  border-radius: 10px;
}

#card-img-two {
  width: 15%;
  border: 1px;
  border-radius: 10px;
  margin-left: 10px;
  opacity: 0.4;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
